.swiper-wrapper{
  min-height: 50vh;
  align-items: center;
}

.depoimento{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 0 50px 40px 50px;
  text-align: center;
}

.depoimento figure {
  display: flex;
  justify-content: center;
}

.depoimento img {
  border-radius: 50%;
}