.jogo{
  padding: 1rem;
}

.jogo .title {
  text-align: center;
  margin: auto;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.carta {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 6px;
  background-color: red;
  cursor: pointer;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carta:hover{
  background-color: rgb(212, 39, 39);
}

.carta.flip{
  transform: rotateY(180deg);
}

.carta .back-face, .carta .front-face {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  pointer-events: none;
}

.carta .front-face {
  transform: rotateY(180deg);
}