/* MODAL */

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  background-color: black !important;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-container.fade-in {
  transition: opacity 1200ms ease-in-out;
  opacity: 1;
  pointer-events: initial;
}

.modal-container.show {
  opacity: 1;
}

.modal-container.fade-out {
  transition: opacity 1200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.modal-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-wrapper .close {
  position: absolute;
  right: 0;
  color: var(--corPrimaria);
  font-size: 2rem;
  cursor: pointer;
}

.video-container {
}
.video-container iframe {
  width: 100%;
}
/* MODAL END */