/* GLOBAL */
:root {
  --corTema: #cc0303;
  --corPrimaria: whitesmoke;
  --corSecundaria: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

/* GERAL END */

/* TIPOGRAFIA */

.title{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-style: bold;
  font-size: 2rem;
}

.subtitle {
  font-style: italic;
  font-size: 1.2rem;
}

.title .red {
  color: var(--corTema);
}

.subtitle .emoji {
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TIPOGRAFIA END */

/* APP */

.App {
  /* display: grid; */
  position: relative;
  background-color: var(--corPrimaria);
  /* justify-content: center; */
  /* align-content: center; */
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  /* flex-direction: column; */
  padding: 1rem;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  width: 25px;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* APP END */

@media only screen and (min-width: 768px) {
  .slide-container {
    width: 70%;
  }
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.4rem;
  }
  
  .navigation .button {
    width: 160px;
    height: 60px;
    font-size: 1.4rem;
  }

  .depoimento {
    grid-template-columns: 1fr 3fr;
  }

  .depoimento p {
    font-size: 1.3rem;
  }

  .depoimento img {
    width: 60%;
  }
}
